<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <div style="height: 10px; width: 50%; background: #7a6f9b; margin-top: 35%;"></div>
  <div style="margin-top: 10%;">
    <ion-button routerLink="/home" color="secondary" style="width: 100%"><ion-icon name="map"></ion-icon>  Visualizar recorrido</ion-button>
  </div>
  <div style="margin-top: 8%">
    <ion-button routerLink="/ruta" color="tertiary" style="width: 100%; margin-top: 5%"><ion-icon name="locate"></ion-icon>  Realizar recorrido</ion-button>
  </div>
  <div style="height: 10px; width: 50%; background: #7a6f9b;margin-left:50%; margin-top: 10%"></div>
  </div>
</ion-content>
